<template>
  <div class="container mt-5 mb-5">
    <h3 class="h-3">Add new ingredient</h3>

    <div class="form-group">
      <input
        class="form-control"
        type="text"
        placeholder="Ingredient"
        v-model="new_ingredient"
      />
    </div>
    <button
      type="button"
      class="btn btn-success"
      v-on:click="add_ingredient(new_ingredient)"
    >
      <b-icon icon="plus-circle-fill" />
      Add
    </button>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
  data() {
    return {
      new_ingredient: "",
    };
  },
  computed: {
    ...mapState(["ingredients"]),
  },
  methods: {
    add_ingredient: function (new_ingredient) {
      if (!this.is_included(new_ingredient)) {
        this.add(new_ingredient);
        this.new_ingredient = "";
      } else {
        alert("This ingredient is already in the list!");
      }
    },
    is_included(ingredient) {
      let already_included = false;
      let i = 0;
      for (i = 0; i < this.ingredients.length; i++) {
        if (this.ingredients[i].ingredient == ingredient) {
          already_included = true;
          break;
        }
      }
      return already_included;
    },
    ...mapMutations(["add"]),
  },
};
</script>
