<template>
  <div class="container mt-5">
    <h3 class="h-3">All available ingredients</h3>
    <table
      id="fullIngredientList"
      class="table table-striped table-bordered"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th style="width: 50%">Ingredient</th>
          <th class="text-center" style="width: 50%">Include</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(ing, i) in ingredients.slice(
            index_first_element,
            index_first_element + n_rows_per_page
          )"
          v-bind:key="i"
        >
          <td>{{ ing.ingredient }}</td>
          <td class="text-center">
            <input
              type="checkbox"
              v-model="ing.included"
              v-bind:id="ing.ingredient"
              true-value="1"
              false-value="0"
              @click="check(i + index_first_element)"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-light" v-on:click="prev">
      Previous
    </button>
    <button type="button" class="btn btn-light" v-on:click="next">Next</button>
  </div>
</template>
 
<script>
import { mapMutations, mapState } from "vuex";

export default {
  data() {
    return {
      index_first_element: 0,
      n_rows_per_page: 8,
    };
  },
  computed: {
    ...mapState(["ingredients"])
  },
  methods: {
    next: function () {
      let n_ingredients = this.ingredients.length;
      let res = Math.min(
        this.index_first_element + this.n_rows_per_page,
        n_ingredients
      );
      if (res < n_ingredients) {
        this.index_first_element = res;
      }
    },
    prev: function () {
      this.index_first_element = Math.max(
        this.index_first_element - this.n_rows_per_page,
        0
      );
    },
    ...mapMutations(["check"]),
  },
};
</script>
