<template>
  <div>
    <div class="container mt-5">
      <div class="form-group w-25">
        <label for="numberIngredients">Number of ingredients:</label>
        <input
          class="form-control"
          id="numberIngredients"
          type="text"
          v-model="number_of_ingredients"
        />
      </div>
      <button
        type="button"
        class="btn btn-success"
        v-on:click="draw_shopping_list()"
      >
        <b-icon icon="dice-6-fill" />
        Create new shopping list
      </button>
    </div>
    <div class="container mt-5">
      <table
        id="shoppingList"
        class="table table-striped table-bordered"
        cellspacing="0"
        v-if="ingredients_drawn.length > 0"
      >
        <thead>
          <tr>
            <th style="width: 50%">Ingredient</th>
            <th class="text-center" style="width: 50%">Don't like it?</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(ing, i) in ingredients_drawn" v-bind:key="i">
            <td>{{ ing }}</td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-secondary"
                v-on:click="replace_ingredient(i)"
              >
                <b-icon icon="arrow-clockwise" />
                Draw again!
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>


<script>
import { mapMutations, mapState, mapGetters } from "vuex";

export default {
  data() {
    return {
      ingredients_drawn: [],
      number_of_ingredients: 4,
    };
  },
  computed: {
    ...mapState(["ingredients"]),
    ...mapGetters(["n_available_ingredients"])
  },
  methods: {
    // Create shopping list
    draw_shopping_list: function () {
      this.repair_number_of_ingredients();
      this.ingredients_drawn = [];
      while (this.ingredients_drawn.length < this.number_of_ingredients) {
        let new_ingredient = this.draw_ingredient();
        if (new_ingredient) {
          this.ingredients_drawn.push(new_ingredient);
        }
      }
    },
    repair_number_of_ingredients: function () {
      this.number_of_ingredients = Math.min(
        this.n_available_ingredients,
        this.number_of_ingredients
      );
    },

    // Replace ingredient
    replace_ingredient: function (i) {
      let ingredient_to_drop = this.ingredients_drawn[i];

      if (this.n_available_ingredients <= this.number_of_ingredients) {
        alert(
          "All available ingredients are already in the shopping list. You can't draw a different one."
        );
      } else {
        this.set_to_0(ingredient_to_drop);

        while (this.ingredients_drawn[i] == ingredient_to_drop) {
          let new_ingredient = this.draw_ingredient();
          if (new_ingredient) {
            this.ingredients_drawn.splice(i, 1, new_ingredient);
          }
        }
      }
    },

    // Utils
    draw_ingredient: function () {
      let position = this.get_random_position();
      let selected_food = this.ingredients[position].ingredient;
      let not_yet_drawn = !this.ingredients_drawn.includes(selected_food);
      let included = this.ingredients[position].included == 1;
      if (not_yet_drawn & included) {
        return selected_food;
      }
    },
    get_random_position: function () {
      return Math.floor(Math.random() * this.ingredients.length);
    },
    ...mapMutations(["set_to_0"]),
  },
};
</script>
