<template>
  <div>
    <div class="container mt-5">
      <h1 class="h-1">Magic meal generator</h1>
      <div>
        <ShoppingList />
      </div>
      <div>
        <AllIngredientsTable />
      </div>
      <div>
        <AddNewIngredient />
      </div>
    </div>
  </div>
</template>

<script>
import AllIngredientsTable from "@/components/AllIngredientsTable.vue";
import AddNewIngredient from "@/components/AddNewIngredient.vue";
import ShoppingList from "@/components/ShoppingList.vue";

export default {
  components: {
    ShoppingList,
    AllIngredientsTable,
    AddNewIngredient,
  },
};
</script>
